Flask==3.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.40
psycopg2-binary==2.9.9
PyMySQL==1.1.1
cryptography==36.0.2
pandas==2.0.3
openpyxl==3.1.2
requests==2.31.0
Werkzeug
python-dotenv==1.0.0
gunicorn==21.2.0
